<div>
  <h1>Welcome to Tick Tac Toe!</h1>
</div>
<p>Hope you like Tic Tac Toe!</p>
<div class="row">
  <div class="span6">
    <ul>
      <li>Play against people or the computer</li>
      <li>Play multiple games at once</li>
      <li>Join other games</li>
      <li>Track stats!</li>
      <li>API coming soon!</li>
    </ul>
  </div>
  <div class="span6">
    To get started go ahead and <%= link_to 'create an account', signup_path %> and <%= link_to 'log in', signin_path %>, then <%= link_to 'create a game!', newgame_path %>. That's it!
  </div>
</div>