
  <tr>
    <td><%= link_to game.name, game %></td>
    <td><%= link_to User.find(game.user1_id).name, User.find(game.user1_id) %></td>
    <td>
      <% if game.user2_id %>
        <%= link_to User.find(game.user2_id).name, User.find(game.user2_id) %>
      <% else %>
        no one!
      <% end %>
    </td>
    <td>
      <% if game.user2_id.nil? && signed_in? && game.user1_id != current_user.id %>
        <%= link_to 'join game', game_path(game, :user2_id => current_user.id), :method => 'put' %>
      <% end %>
    </td>
  </tr>